*{
    border: 0;
    margin: 0;
}
body{
    background: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#footerDiv{
    background-color: whitesmoke;
    margin-top:40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}