body{
    position: relative;
}
#timeLogo{
    margin-left:95%;
    border-radius: 5px;
}
#timeLogo:hover{
   color:rgb(1, 79, 1);
}
.allShopHeader{
    margin-top:40px;

}

.outerShopDiv{
    margin-left:3%;
    display: flex;
    flex-wrap: wrap;
}

.shopName{
    margin-left:50px;
    font-weight: bold;
}
.shopImage img{
    width:185px;
    height:160px;
    border-radius: 50%;
    margin-top:50px;
    margin:25px;
    cursor:pointer;
}
.outerFoodDiv{
    margin:10px;
    padding:10px;
  
}
.outerFoodDiv:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.foodDatasOuterDiv{
    display: flex; 
    flex-wrap: wrap;
    cursor: pointer;
    padding:30px;
    padding-left:3%;

    
}

.food img{
    width:300px;
    height:280px;
    margin:25px;
    border-radius:10px;
}
.foodData{
    margin-bottom:20px;
}
.food{
    position: relative;
}
.shopNameInFood{
    margin-left:25px;
    font-weight: bold;
}
.foodNamePriceDiv{
    margin:0 25px;
    display: flex;
    justify-content: space-between;
}
.foodName,.foodPrice{

color:rgba(12, 12, 12,0.7);
}
#cartIconDiv{
    display: flex;
    justify-content: flex-end;
   margin:10 25px;
   color:whitesmoke;
   position:absolute;
   top:32px;
   left:32px;
   
}
.cartIcon{
    transform: scale(1.4);
    background-color: black;
    padding:4px;
    border-radius:3px;  
}
.cartIcon:hover{
    background-color: green;
}

#timeDiv{
    height:100px;
    width:400px;
    padding:20px;
    margin:40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position:absolute;
    margin-bottom:20px;
    left:63%;
    top:2%;
    border-radius: 10px;
}
#timeDiv input{
    width:200px;
    border-radius: 5px;
    padding:10px;
    border:1px solid black;
    
}
#amPm{
    border:1px solid black;
    padding:7px;
    width:100px;
    border-radius: 5px;
}
#timeChange{
    width:40px;
    padding:4px;
    background-color: green;
    border-radius: 5px;
    margin-left:85%;
    margin-top:5px;
    cursor:pointer;
   
}
.hidden{
    display: none;
}

